@import "../styles/theme.css";
@import "../styles/utilities.css";

@import "tailwindcss";

/* ==========================================
   Global Base Styles
========================================== */

*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  min-height: 100vh;
}