@import "../styles/theme.css";
@import "../styles/utilities.css";

@import "tailwindcss";

/* ==========================================
   Global Base Styles
========================================== */

*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  min-height: 100vh;

  font-family: var(--font-family-base);

  background: var(--color-background);

  color: var(--color-foreground);
  
  line-height: var(--line-height-normal);

  text-rendering: optimizeLegibility;

  -webkit-font-smoothing: antialiased;

  -moz-osx-font-smoothing: grayscale;
}